<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cetacea</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.1/build/cssreset/cssreset-min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="jumbotron">
  <div class="container">
    <div class="name-container">
      <h1 class="name">cetacea</h1>
      <h2>discover. whales.</h2>
      <h3>coming soon.</h3>
<!--       <h3>Appreciate. Discover. Watch.</h3> -->
    </div>
    <p><a href="#sign-up" class="glyphicon glyphicon-chevron-down"></a></p>
<!--     <p><a class="btn btn-default btn-lg" href="#sign-up" role="button">Sign Up For Updates</a></p> -->
  </div>
</div>

<!--   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-header-link" ui-sref='home'> <h3 class="myHeader">cetacea</h3> </a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="login"><a ui-sref='home' ng-hide="authData" ng-click="clicked">Home</a></li>
          <li class="login"><a href='#theTechnique' ng-hide="authData" ng-click="clicked">Info</a></li>
          <li class="login"><a ui-sref='dashboard' ng-hide="authData" ng-click="clicked">Dashboard</a></li>
          <li class="login"><a ui-sref='login' ng-hide="authData" ng-click="clicked">Login</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

<!--   <div ui-view></div> -->

<div id="sign-up" class="container">
  <div class="row">
    <div class="col-md-3">
      <h3 class="cetacea">WHAT IS CETACEA</h3>

    </div>

    <div class="col-md-6">
          <img src=""/>
    </div>
  </div>
</div>

<div id="sign-up" class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Sign up for Beta release.</h3>
          <p><a class="btn btn-default btn-lg" href="#sign-up" role="button">Sign Up For Updates</a></p>
    </div>

    <div class="col-md-3">
      <h1>01</h1>
      <h4>Interactive Whale Tracking Via Web Mapping</h4>
      <p>Easily drop a pin to add your location to report a whale sighting; or use the map to find the closest reported sightings.  Track the whales throughout the season.</p>
    </div>
  </div>
</div>

<div id="sign-up" class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>02</h1>
      <h4>Share Photos & Videos</h4>
      <p>Upload and share videos & photos of your sightings. Learn about the different whale types and behaviours through these up-close encounters.</p>

    </div>

    <div class="col-md-6">
          <img src=""/>
    </div>
  </div>
</div>

<div id="sign-up" class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Sign up for Beta release.</h3>
          <p><a class="btn btn-default btn-lg" href="#sign-up" role="button">Sign Up For Updates</a></p>
    </div>

    <div class="col-md-3">
      <h1>03</h1>
      <h4>Discover the Latest News about Sightings.</h4>
      <p>Keep up to date with the latest news on the whales in the region.  Learn about conservation efforts.</p>
    </div>
  </div>
</div>
  <div class="section-head">     
    <div class="sign-up">

    </div>
  </div>

    <script src="/js/app.js"></script>
</body>
</html>
